/* Not sure if there's a better way to override these styles (react-big-calendar)*/

/*Font and color styling*/
.rbc-header {
  font-size: 18px;
  background-color: #3E486F;
  border:0 !important;
  color: #fffffe !important;
  padding: 0.5rem;
}
.rbc-month-view {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rbc-month-header .rbc-header:first-child  {
  border-top-left-radius: 10px;
}

.rbc-month-header .rbc-header:last-child  {
  border-top-right-radius: 10px;
}


.rbc-toolbar-label {
  font-size: 23.5px;
  color: #020000;
  font-weight: bold;
}

.rbc-date-cell, .rbc-label {
  color: #343445; 
}

.rbc-agenda-content {
  font-family: "DM Sans";
  font-size: 14.5px;
  color: #343445;
}

.rbc-agenda-event-cell:hover {
  cursor: pointer;
}
/*Button Styling*/
.rbc-btn-group {
  display: none;
  border-radius: 17px;
}

.rbc-toolbar-label {
  display: none;
}


/*Week Display Styling*/
.rbc-time-header-cell .rbc-header {
  padding-bottom: 19.5px !important;
}

/*overall container positioning/changes*/
.rbc-calendar {
  filter: grayscale(0%) drop-shadow(0 4px 12px rgb(104 112 118 / 0.08)) drop-shadow(0 20px 8px rgb(104 112 118 / 0.04));
  width: 100%;
  padding-top: 0%;
}

@media (max-width: 600px) {
  .rbc-btn-group > button {
    font-size:16px;
  }
  .rbc-agenda-date-cell, .rbc-agenda-time-cell, .rbc-agenda-event-cell {
    margin-top: 15px;
    font-size: 12px;
    padding: 10px 5px !important;
  }
  .rbc-header {
    font-size: 16px;
  }
  .rbc-time-header-cell .rbc-header {
    font-size: 2px;

  }
}