body {
   background:url("/web/20150814132522im_/https://www-s.acm.illinois.edu/static/img/whitey.png");
}

.header{
   height:137px;
   background:#ffffff;
   width:980px;
   margin-left:-20px;

   position:relative;
}

.header_bar{
   background: #3E486F;
   height:100px;
   margin-bottom:15px;
   width:1010px;
   margin-top:25px;
   margin-left:-15px;
}

.logo{
   margin-top: 10px;
   margin-left: 5px;
   float:left;
}


a.brand,a:hover.brand{
   color:#FFFFFF;
   text-decoration:none;
}

a.brand div{
   position:relative;
   top:28px;
   left:12px;
   margin-right: 440px;
}

a.brand strong{
   margin-top:15px;
   font-size:24px;
   font-weight:normal;
}

a.brand em{
   font-style:normal;
   font-size:18px;
   color:#dcdcdc;
}

.main_nav{
   margin-top:-12px;
}

.right_nav{
   margin-bottom:0px;
   margin-right:15px;
}

.nav_name{
   padding-top: 8px;
   padding-bottom: 8px;
   margin-top: 2px;
   margin-bottom: 2px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding-right: 12px;
   padding-left: 12px;
   margin-right: 2px;
   line-height: 14px;
   display:block;
}

.main{
   background:#ffffff;
   padding:20px;
   border-bottom:3px solid #3dade1;
}

footer{
   margin-top:15px;
   margin-bottom:15px;
}

.carousel-control {
  display:none;
}

div.carousel-inner:hover ~ a.carousel-control {
  display:block;
}



.controls ul li input[type='checkbox']{
   display: inline;
}

.controls ul li{
   list-style: none;
}

.help-block{
   display:none;
}

.resume-image-loader{
   background: url("/web/20150814132522im_/https://www-s.acm.illinois.edu/static/img/ajax-loader.gif");
   background-position: center;
   background-repeat: no-repeat;
   background-color: #ffffff;
}

.resume-image-loader img{
   background: #ffffff;
}

.resume-thumbnail{
   width: 102px;
   height: 132px;
}

.resume-thumbnail-top{
   width: 544px;
   height: 100px;
}

.resume-referred-preview-container{
   height:inherit;
}

.resume-referred-preview{
   width: inherit;
   height: inherit;
}

.calendar thead tr td{
   text-align: center;
   font-weight: bold;
   background: #F9F9F9;
}

.calendar tr td.info{
   background: #D9EDF7;
}

.calendar tr td div{
   min-height: 100px;
   height:auto !important;
   height: 100px;
}

.calendar .date_label{
   color: #999;
   border-bottom: 1px solid #ddd;
}

.event-details-inner{
   display: none;
}

.email-subscribe{
   width: 320px;
}

a.job-email:hover{
   text-decoration: none;
}

.row.notif-row{
   margin: 0;
}

.send-event,
.send-job{
   margin-right: 1%;
}

.send-job{
   margin-top: 1%;
}
.send-event{
   margin-bottom: 1%;
}

.footer-icon{
   font-size: 15px;
   padding-left: 5px;
   padding-right: 5px;
}

/*
     FILE ARCHIVED ON 13:25:22 Aug 14, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:51:55 Feb 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 88.194
  exclusion.robots: 0.205
  exclusion.robots.policy: 0.197
  cdx.remote: 0.064
  esindex: 0.011
  LoadShardBlock: 63.1 (3)
  PetaboxLoader3.datanode: 118.427 (5)
  CDXLines.iter: 15.191 (3)
  load_resource: 217.683 (2)
  PetaboxLoader3.resolve: 112.558 (2)
*/