.storybook-button {
  /*font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;*/
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  line-height: 33px;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  width: 221px;
  height: 50px;
  flex: none;
}
.storybook-button--primary {
  color: white;
  background-color: #4577F8;
  border-radius: 100px;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
  width: 63px;
  height: 63px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
