.hamb {
  cursor: pointer;
}
.hambLine {
  background-color: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  width: 22px;
}
.hambLine::before,
.hambLine::after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hambLine::before {
  top: 7px;
}
.hambLine::after {
  top: -7px;
}
/* Toggle menu icon */
.sideMenu:checked ~ .hamb .hambLine {
  background: transparent;
}
.sideMenu:checked ~ .hamb .hambLine::before {
  transform: rotate(-45deg);
  top: -1px;
  left: -1.5px;
}
.sideMenu:checked ~ .hamb .hambLine::after {
  transform: rotate(45deg);
  top: -1px;
  left: -1.5px;
}
