.App {
  text-align: center;
}

.App-logo {
  width: 253px;
  height: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.group-10 {
  position: absolute;
  width: 525px;
  height: 236px;
  left: 361px;
  top: 189px;
}

.App-header {
  /* below is from figma; incorporate later
  position: relative;
  width: 1440px;
  height: 2548px;
  */
  background: linear-gradient(180deg, #3E486F 0%, #5D3A80 38.02%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}