.App {
  text-align: center;
}

.App-header {
  /* below is from figma; incorporate later?
  position: relative;
  width: 1440px;
  height: 2548px;
  */
  background: linear-gradient(180deg, #3E486F 0%, #5D3A80 38.02%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
