---
import Footer from '../components/Footer.astro';
import HeadMetadata from '../components/HeadMetadata.astro';

import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'ACM @ UIUC', description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <HeadMetadata title={`${title} | ACM @ UIUC`} description={description} />
  <body class="m-0 flex min-h-screen flex-col bg-gray-50 p-0">
    <slot />
  </body><Footer />
</html>
