# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: 'Testing'
on:
  pull_request:
    branches:
      - main

jobs:
  deploy:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'yarn'

      - name: Restore Yarn Cache
        uses: actions/cache@v4
        with:
          path: node_modules
          key: yarn-modules-${{ runner.arch }}-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-dev
          restore-keys: |
            yarn-modules-${{ runner.arch }}-${{ runner.os }}-

      - name: Install dependencies
        run: yarn -D

      - name: Test formatting
        run: yarn format:check
